@charset "UTF-8";

.rodape {
    background-color: var(--branco);
    width: 100%;
    position: fixed;
    bottom: 0%;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.105);
}

.rodape__botao {
    background-color: var(--azul);
    color: var(--branco);
    font-size: 35px;
    width: 56px;
    height: 56px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--azul);
    position: absolute;
    right: 5%;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.rodape__container {
    padding: 1em;
}

.rodape__lista {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: baseline;
}

.rodape__lista__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
    gap: 0.3em;
}

.rodape__lista__opcao-amostra {
    color: var(--azul);
}

.rodape__botao:hover {
    background-color: var(--azul-hover);
}

@media screen and (min-width: 768px) {
    .rodape__lista {
        justify-content: center;
        gap: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .rodape {
        display: block;
        width: 10%;
        height: 100%;
    }

    .rodape__lista {
        padding-top: 0.5em;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5em;
    }

    .rodape__lista__link {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
}

